#dropdown-menu-custom > .btn.dropdown {
  width: 150px
}

.main-content.flats.show h1 {
  margin-bottom: 0;
}

.submit-tag {
  height: 32px !important;
  border-radius: 2px !important;
  color: #16191C !important;
}

form.simple_form.edit_flatmember {
  padding: 0 !important;
}

.background-admin {
  background-color: #f8f9fa;
}


.notification {
    background-color:rgba(233, 140, 118, 0.1) !important;
    &-background-seen {
    background-color: #ffffff !important ;
  }
}

.smaller-text {
  font-size: 14px;
  color: rgba(83, 83, 83, 0.7)
}


