// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

// Define fonts for body and headers
$body-font: "Rubik", "Helvetica", "sans-serif";
$headers-font: "Rubik", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

p {
  font-size: 22px;
  font-weight: 300;
}

p, .h1-flatcares, .h2-flatcares {
  color: #535353;
}

.h1-flatcares {
  font-size: 64px;
}

.h2-flatcares{
  font-size: 48px;
}

.h1-flatcares, .h2-flatcares {
  font-weight: 700;
}
