<div class="container">
  <div class="logo-container">
    <h3 class="m-0 text-primary">flatcares.com</h3>
  </div>
  <% render '../devise/mailer/invitation_instructions.html.erb' %>
  <h2>Flatcares Team</h2>
  <div class="footer-container">
  </div>
</div>
