<div class="container" data-controller="notifications">
  <div class="row">
    <div class="col-12">
      <% if @notifications.length == 0 %>
        <h3 class="my-4">You don't have any notifications</h3>
      <% else %>
        <div
          data-target="notifications.container"
          data-flat-id="<%= @flat.id %>"
        >
          <% @notifications.each do |notification| %>
            <%= render 'notification', notification: notification %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
