<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= simple_form_for [@flat, @chatroom] do |f| %>
        <h2>Create a new Chatroom </h2>
        <%= f.input :name,
                    placeholder: "Group's name",
                    label: false
                    %>
        <%= f.submit "Create a Group", class: "btn btn-success text-white"%>
      <% end %>
    </div>
  </div>
</div>
