.main-content.bills.index {
  margin-bottom: 75px;
}

.main-content.bills.index .dropdown-menu > * {
  text-transform: capitalize;
}

.filter-dropdown.dropdown-menu {
  border-radius: 20px !important;
  text-align: center !important;
}
