<div class="navbar-smartphone">
  <div class="navbar-home">
    <i class="fas fa-home"></i>
    <p>Home</p>
  </div>
  <div class="navbar-bills">
    <i class="fas fa-file-invoice"></i>
    <p>Bills</p>
  </div>
  <div class="navbar-tasks">
    <i class="fas fa-file-invoice"></i>
    <p>Tasks</p>
  </div>
  <div class="navbar-events">
    <i class="far fa-calendar-alt"></i>
    <p>Events</p>
  </div>
  <div class="navbar-chat">
    <i class="far fa-comments"></i>
    <p>Chat</p>
  </div>
</div>
