<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="ml-3">Events</h1>
        <%= link_to image_tag('add-button.svg'), new_flat_event_path %>
      </div>
    </div>
  </div>
</div>



<div class="container calendar-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="">
        <div data-controller="calendar">
          <div
            class="d-flex flex-column"
            data-target="calendar.container"
            data-events="<%= @formatted_events %>"
            id="calendar"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
