<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>House Bills</h2>
      <div class="pt-2" data-controller="bills">
        <div class="btn-group p-1 mb-2 ">  
          <button
            type="button"
            class="btn inactive-filter"
            data-target="bills.filter"
            data-action="bills#toggleActive"
          >Rent</button>
        </div>
        <div class="btn-group p-1 mb-2 ">  
          <button
            type="button"
            class="btn inactive-filter"
            data-action="bills#toggleActive"
          >Electrecity</button>
        </div>
        <div class="btn-group p-1 mb-2 ">  
          <button
            type="button"
            class="btn inactive-filter"
            data-action="bills#toggleActive"
          >Water</button>
        </div>
        <div class="btn-group p-1 mb-2 ">  
          <button
            type="button"
            class="btn inactive-filter"
            data-action="bills#toggleActive"
          >Intert</button>
        </div>
        <div class="btn-group p-1 mb-2 ">  
          <button
            type="button"
            class="btn inactive-filter"
            data-action="bills#toggleActive"
          >Gas</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12"> 
      <% @bills.each do |bill| %>
      <div class="d-flex">
        <div class="card-half-orange">
          <h3><%=bill.name%></h3>
          <p><%=bill.due_date%></p>
          <div class="d-flex justify-content-between align-items-end">
            <p class="secondary-p m-0"><br><%=bill.status%></p>
            <h3><%=bill.amount%></h3>
          </div>
        </div>
      </div>
      <%end%>
    </div> 
  </div> 
</div> 


   
