<div class="container p-4">
  <div class="row">
    <div class="col">
      <h3>flatcares.com</h3>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-10 text-center">
        <h1>Make your house trully collaborative</h1>
        <p>Spread responsabilities, communicate with your buddies and get all expenses under control.</p>
        <a class="btn btn-info text-orange" href="users/sign_in">Get Started</a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-9 col-md-6 mt-3 text-center">
        <ul>
          <li class="secondary-p mr-1"><i class="fas fa-check mr-1"></i>Expense tracker</li>
          <li class="secondary-p mr-1"><i class="fas fa-check mr-1"></i>Task organizer</li>
          <li class="secondary-p mr-1"><i class="fas fa-check mr-1"></i>Messages</li>
          <li class="secondary-p mr-1"><i class="fas fa-check mr-1"></i>Calendar</li>
        </ul>
      </div>
    </div>
  </div>
</div>
