<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= simple_form_for [@flat, @area] do |f| %>
        <h2>Create a new Area </h2>
        <%= f.input :name,
                    required: true,
                    include_blank: "Area's Name",
                    label: false,
                    collection: [
                      "Kitchen","Toilet", "Bathroom",
                      "Living Room", "Garden", "Corridor",
                      "Stairs", "Other"
                      ]
                      %>
        <%= f.input :description,
                    placeholder: "Description",
                    label: false
                    %>
        <%= f.submit "Create Area", class: "btn btn-success text-white"%>
      <% end %>
    </div>
  </div>
</div>
