.btn.text-white {
  color: $white;
}

.btn.text-orange {
  background-color: #fff;
  color: #E7836B;
}

.btn.active-filter {
  color: $white;
}

.btn.inactive-filter {
  color: $gray;
  background-color: $light-gray;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 2px;
}


.card-gray .btn {
  padding-left: 15px;
  padding-right: 15px;
}
