.calendar-container {
  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -moz-box;
  // display: -ms-flexbox;
  // display: flex;
  // -webkit-box-pack: center;
  // -webkit-justify-content: center;
  // -moz-box-pack: center;
  // -ms-flex-pack: center;
  // justify-content: center;
  // -webkit-box-align: center;
  // -webkit-align-items: center;
  // -moz-box-align: center;
  // -ms-flex-align: center;
  // align-items: center;
  // -webkit-align-content: center;
  // -ms-flex-line-pack: center;
  // align-content: center;
}

#calendar {
  > * {
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    height: 380px;
    background-color: white;
    box-shadow: 0px 0px 23px 17px rgba(198, 198, 198, 0.08);
    border: none;
    font-family: "Rubik";
  }
}

.cjslib-days > div > label {
  justify-content: center;
  align-items: center;
}

.cjslib-year, .cjslib-month, .cjslib-labels, .cjslib-days, .cjslib-day-diluted {
  background-color: transparent!important;
}

.cjslib-labels>span {
  font-weight: 500;
}

#calendar-year-back path, #calendar-year-next path {
  fill: #535353;
}

#calendar-year-back, #calendar-year-next {
  width: 15px;
  height: 15px;
}

#calendar-year {
  line-height: 0;
}

.cjslib-date {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.cjslib-year {
  display: flex;
  align-items: center;
  width: 20%;
  margin: 0 auto;

  > * {
    color: #535353;
    font-size: 10px;
  }
}

.cjslib-list>li>div{
  font-size: 14px;
  color: $gray;
  border-right: none;
}

.cjslib-list > li > p > a {
  color: $gray;
}

.cjslib-month {
  padding: 10px 0;
  width: 25%;
  margin: 0 auto;
  box-shadow: none;
  font-size: 16px;
}

.cjslib-month>span {
  text-transform: capitalize;
}

.cjslib-days {
  box-shadow: none;
}

.cjslib-day-listed {
  border-bottom: 0;
  border-right: 0;
  border-radius: 5px;
}

.cjslib-day-diluted {
  border-bottom: 0!important;
  border-right: 0!important;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  text-align: center;

}

.cjslib-day-num {
  text-align: center!important;
}

.cjslib-day.cjslib-day-listed > .cjslib-day-num {
  font-size: 14px;
  color: #4F4F4F;
}

.cjslib-day.cjslib-day-diluted>.cjslib-day-num {
  font-size: 14px;
  color: #E4E4E4;
}

.cjslib-day-radios:checked+.cjslib-day {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  background-color: $orange;
  align-items: center;
    span {
      color: $white!important;
    }
  }

.cjslib-day.cjslib-day-today > .cjslib-day-num {
  border:none;
  padding-bottom: 0;
  color: #E7836B;
}

.cjslib-day-radios:not(:checked)+.cjslib-day-today {
  border-bottom: 2px solid $orange;
  border-radius: 0px;
}

.cjslib-calendar.cjslib-size-small .cjslib-day>.cjslib-day-indicator {
  width: 15px;
  height: 15px;
  bottom: 0px;
  right: 2px;
}

.cjslib-day-indicator {
  background-color: white!important;
}

.cjslib-calendar.cjslib-size-small .cjslib-day>.cjslib-indicator-type-numeric {
  font-size: 10px;
  font-family: "Roboto";
}

div.cjslib-date {
  background-color: transparent!important;

}

div.cjslib-date span {
  text-transform: capitalize;
}


#calendar-list-container {
  background-color: transparent!important;
}

.cjslib-list .cjslib-list-placeholder:only-child {
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
  font-style: normal;
}

.cjslib-list {
  padding-top: 15px;
}

a:-webkit-any-link {
  text-decoration: none;
}
