
.card-orange, .card-white, .card-gray, .calendar-card-white, .expenses-card-white {
  border-radius: 50px;
  padding: 38px;
  box-shadow: 0px 0px 23px 17px rgba(198, 198, 198, 0.08);
}

.card-orange {
  color: $white;
  background-color: $orange;
}

.card-white {
  color: $orange;
  background-color: $white;
}

.card-gray {
  background-color: $light-gray;
}

.card-gray h3 {
  margin: 0;
}

.expenses-card-white, .calendar-card-white {
  background-color: $white;
}

.expense-details > * > *, .calendar-card-white > * > *  {
  margin: 0;
}

.expense-details {
  padding-top: 30px;
  padding-bottom: 30px;
}

.expenses-details:not(:last-child) {
  border-bottom: 1px dashed #E4E4E4;
}

.card-half-orange {
  color: $white;
  margin: 5px;
  padding: 16px;
  background-color: $orange;
  border-radius: 15px;
}


.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-half-gray {
  color: $gray;
  margin: 5px;
  padding: 16px;
  background-color: $light-gray;
  border-radius: 15px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .calendar-card-white, .expenses-card-white {
    padding: 20px;
  }
}


