#messages {
  .message--sender {
    flex-direction: row-reverse;
    margin-left: auto;
    h3 {
      color: $orange;
    }
  }

  .message--recipient {
    margin-right: auto;
    h3 {
      color: $blue;
    }
  }
}

.main-content.chatrooms.show {
  margin: 0;
}

.message-container, .card-send-message {
  padding: 13px;
  background-color: $white;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
}

.message-container {
  max-width: 80%;
  margin-bottom: 5px;
}

.message-container .text-message {
  font-size: 20px;
}

.card-send-message {
  height: 100px;
  position: relative;
}
.message-container p {
  margin: 0;
}

.message-container .secondary-p {
  color: rgba(83, 83, 83, 0.6);
}

.message-container.name-blue h3 {
  color: $blue;
}

.message-container.name-orange h3 {
  color: $orange;
}

.float-right {
  float: right;
}

.send-button {
  position: absolute;
  right: 15px;
  bottom: 6px;
  background-color: transparent;
  border: none;
}

.tabs {
  background-color: $white;
  border: 1px solid #E4E4E4;
  height: 45px;
}

.tabs h3 {
  margin-bottom: 0;
}

.tab {
  height: 100%;
}

.orange-line {
  background-color: $orange;
  height: 2px;
  width: 100%;
}

.simple_form.new_message {
  padding: 0px;
  background-color: $white-bone;
}

.simple_form.new_message #message_content {
  height: 90px;
}

.form-group.text.message_content {
  margin-bottom: 0;
}

.chat-container {
    height: calc(100vh - 58px);
    display: flex;
    flex-direction: column;
}

.chat-conversations {
  flex-grow: 1;
  overflow: scroll;
}

.chat-input {
  border-top: 1px solid #E4E4E4;
  background-color: $white-bone;
}

.chat-name-container {
  border-bottom: 1px solid #E4E4E4;
  background-color: $white-bone;
}

@media (max-width: 576px) {

  .chat-container {
    height: calc(100vh - 60px);
  }
}
