.navbar-lewagon {
  justify-content: space-between;
  border-bottom: 1px solid $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-smartphone {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-top: 1px solid $light-gray;
  background-color: $white-bone;
  padding: 5px 30px 5px 30px;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  overflow: auto;
}

.navbar-flatcares {
  padding-left: 50px;
  padding-right: 50px;
  position: sticky;
  top: 0;
  background-color: $white-bone;
  z-index: 999;
}

.navbar-smartphone p {
  margin-bottom: 0;
  font-size: 12px;
}

sup {
  left: -7px;
  top: -13px;
}

sup.smartphone {
  left: 10px;
  top: 0px;
  font-size: 50%;
}

.notification-badge {
  z-index: 1;
  position: absolute;
}
