// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "toastr/toastr.scss";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/cards";
@import "components/buttons";
@import "components/forms";
@import "components/tasks";
@import "components/calendar";
@import "components/chats";

#toast-container > .toast-success {
  background-image: url(house.png)!important;
  background-color: $orange !important;
}

.main-content {
  margin-bottom: 60px;
}

.navbar-flatcares {
  display: none;
}

.filter-dropdown.dropdown-menu {
  border-radius: 20px !important;
  text-align: center !important;
}

.btn-success:hover {
  background-color: rgba(130, 198, 149, 0.7);
  border-color: rgba(130, 198, 149, 0.7);
}

.cursor-pointer {
  cursor: pointer;
}

// Icons
.fa-location-arrow, .fas.fa-circle, .far.fa-circle {
  color: $orange;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar-smartphone {
    display: none;
  }

  .navbar-flatcares {
  display: flex;
}

  body {
    margin-bottom: 0px;
  }

  .main-content {
  margin-bottom: 0;
  }
}

li a.text-orange {
  color: $orange;
}

li a.text-gray {
  color: $gray;
}

a.text-orange {
  color: $orange;
}

a.text-gray {
  color: $gray;
}
.text-gray {
  color: $gray;
}

.text-orange {
  color: $orange;
}



