// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/cards";
@import "components/buttons";
@import "components/forms";

body {
  margin-bottom: 95px;
}

.navbar-flatcares {
  display: none;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar-smartphone {
    display: none;
  }

  .navbar-flatcares {
  display: flex;
}

  body {
    margin-bottom: 0px;
  }
}



